nav {
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	top: 0%;
	left: 0%;
	right: 0%;
	z-index: 1000;
	ul {
		margin: 0%;
		padding: 0%;
		padding: 0.4em;
		li {
			display: inline-block;
			border-collapse: collapse;
			padding: 0%;
			margin-right: -0.3em;
			a {
				padding: 0.5em 1.2em;
				color: #fff;
				border-left: 0.1em solid #fff;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
					background-color: rgba(0,0,0,0.7);
				}
			}
			&:first-child a {
				border-left: none;
			}
		}
	}
}
