
.carousel {
	border: 0.1em solid #ccc;
	margin-bottom: 1em;
	position: relative;
	width: 100%;
	height: 50%;
	z-index: 0;
	padding-top: 17.275em;
	text-align: center;
	border-style: double;
	border-spacing: 0.1em;
	border-width: 0.2em;
	@for $i from 5 through 25 {
		&-height-#{$i} {
			height: #{$i}em;
		}
	}
	&-toggle__wrap {
		z-index: 100;
		background-color: rgba(0,0,0,0.6);
		padding: 0.4em 0.5em 0.25em;
		display: inline;
		border-radius: 0.3em;

		&.manual-play .playPause {
			display: none;
		}
		&.auto-play .playPause {
			display: inline;
		}
	}
	&-block {
		display: block;
		padding: 1.5em 1em 1em;
		position: absolute;
		top: 0%;
		right: 0%;
		bottom: 0%;
		left: 0%;
		transition: opacity 0.75s ease-in;
		overflow: hidden;
		img {
			position: absolute;
			top: 0%;
			right: 0%;
			left: 0%;
			z-index: -1;
			width: 100%;
		}
		&__sub {
			background-color: rgba(0,0,0,0.7);
			padding: 0.5em;
			position: absolute;
			bottom: -10em;
			left: 1em;
			color: #fff;
			transition: bottom 0.5s ease-out 0.3s;

			a {
				color: #ff0;
			}
		}
	}
}


input.carousel-toggle {
	+ .carousel-block {
		z-index: -100;
		opacity: 0;
	}
	&:checked + .carousel-block {
		z-index: -1;
		opacity: 1;
		.carousel-block__sub {
			bottom: 1em;
		}
	}
}


.previous-next {
	position: absolute;
	top: 0%;
	bottom: 0%;
	width: 1.25em;
	font-weight: bold;
	padding-top: 20%;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	&:hover {
		background-color: rgba(0,0,0,0.5);
		color: #fff;
		opacity: 1;
		z-index: 1000;
	}
	.label-str {
		display: block;
		text-indent: -1000em;
	}

	&__previous {
		left: 0%;
	}
	&__next {
		right: 0%;

	}
}
